[Unit]
Description=Raspi Dashboard
After=network.target

[Service]
ExecStart=/home/pi/.local/bin/raspi-dashboard
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
